.root__button {
    border: none;
    box-sizing: border-box;
    width: 8%;
    padding: 2rem;
    margin: 1rem;
    background-color: rebeccapurple;
    border: 1px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.root__button__label {
    font-size: 3rem;
}