.root__score {
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid red;
    background-color: rebeccapurple;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem auto;
    width: 18%;
}